<li nz-menu-item (click)="showModal()">
  <span>Editer l' activité</span>
</li>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>
    Editer
  </ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="handleOkAndSubmit()" >
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="libelle">Titre</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez entrer le titre de la leçon"  [nzSm]="17" [nzXs]="25">
          <nz-input-group nzPrefixIcon="read">
            <input formControlName="libelle"  nz-input placeholder="Entrez le titre de la leçon"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">Description</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez entrer la description"  [nzSm]="17" [nzXs]="25">
          <nz-input-group nzPrefixIcon="read">
            <input formControlName="description"  nz-input placeholder="Entrez la description"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="numero">Numéro</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez entrer le numéro du chapitre"  [nzSm]="17" [nzXs]="25">
          <nz-input-number formControlName="numero"  [nzMin]="0" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Type">Type</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez choisir le type de la leçon"  [nzSm]="17" [nzXs]="25">
          <nz-radio-group formControlName="type">
            <label nz-radio nzValue="TRAVAUX_THEORIQUES">Théorique</label>
            <label nz-radio nzValue="TRAVAUX_PRATIQUES">Pratique</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Enregistrer</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Annuler</button>
  </ng-template>
</nz-modal>




