
<nz-layout >
  <nz-sider  nzWidth="200px" style="padding-bottom: 25%">
    <div class="logo" >
      <img src="../assets/img/logo.png" alt="test" style="width:200px;height:65px;">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item>
          <a routerLink="/cycle" style="text-decoration: none"> <i  nz-icon nzType="loading-3-quarters"></i>Cycle</a>
        </li>
      <li nz-menu-item>
        <a routerLink="/specialite" style="text-decoration: none"><i  nz-icon ></i>Specialite</a></li>
      <li nz-menu-item>
        <a routerLink="/serie" style="text-decoration: none"><i  nz-icon ></i>Serie</a></li>
      <li nz-menu-item>
        <a routerLink="/annee" style="text-decoration: none"><i  nz-icon ></i>Années Academiques</a></li>
      <li nz-submenu nzTitle="Matieres" nzIcon="read">
        <ul>
          <li nz-menu-item>
            <a routerLink="/cours"  style="text-decoration: none"><i nz-icon nzType="form"></i>Cours</a></li>
          <li nz-menu-item><a routerLink="/projet" style="text-decoration: none">Projets Pedagogiques</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Enseignant" nzIcon="solution">
      <ul>
        <li nz-menu-item><a routerLink="/enseignant" style="text-decoration: none">Listes des enseignants</a></li>
        <li nz-menu-item><a routerLink="/enseigner" style="text-decoration: none">Dispositions par salle</a></li>
      </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header >
      <header><h3 class="pull-right"> <span class="highlight2">Gestion des </span><span class="highlight">Projets pédagogiques</span></h3></header>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
